name: Publish Package to npmjs

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm i --frozen-lockfile

  publish-npm:
    environment: development
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18.x'
          registry-url: https://registry.npmjs.org
          npm-token: ${{ secrets.NPM_TOKEN }}
      - run: npm i --frozen-lockfile
      - run: npm run build
      - run: npm publish --access public
